.CMS {
    overflow: hidden;
    width: 100%;
}
.CMS .overlay {
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
}
.CMS .overlay .content {
    margin: 15% auto;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: fit-content;
    border-radius: 6px;
}
.CMS .overlay .content label {
    display: block;
}
.CMS .overlay .content .login {
    width: fit-content;
    background-color: #1a73e8;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 125ms linear;
}
.CMS .overlay .content .login:hover {
    background-color: #3684eb;
}
.CMS .overlay .content .login span {
    color: white;
}
.CMS > .inner {
    display: flex;
    justify-content: space-between;
}
.CMS > .inner .left {
    width: 350px;
    background-color: white;
    color: #5f6368;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 2px 10px -1px rgba(0, 0, 0, .12);
}
.CMS > .inner .left .title {
    padding-left: 1rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    color: black;
}
.CMS > .inner .left .title .subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #1a73e8;
}
.CMS > .inner .left .title h1 {
    margin: 6px auto;
}
.CMS > .inner .left .editType-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2px 0px;
    background-color: #f1f3f4;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.CMS > .inner .left .editType-wrapper > div {
    transition: all 125ms ease-in-out;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    width: 45%;
    z-index: 1;
}
.CMS > .inner .left .editType-wrapper > div.selected {
    color: #1a73e8;
}
.CMS > .inner .left .editType-wrapper::after {
    content: "";
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0%;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    border-radius: 6px;
    transition: all 125ms ease-in-out;
}
.CMS > .inner .left .editType-wrapper.right-selected::after {
    left: 50% !important;
}
.CMS > .inner .left .sections-wrapper {
    overflow-y: scroll;
    flex-grow: 1;
}
.CMS > .inner .left .sections-wrapper .section {
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    transition: all 125ms linear;
}
.CMS > .inner .left .sections-wrapper .section:hover {
    background-color: rgba(71, 71, 71, .15);
}
.CMS > .inner .left .sections-wrapper .section.selected {
    background-color: #1a73e8;
    color: white;
}
.CMS > .inner .left .profile {
    border-top: 2px solid rgba(0, 0, 0, .15);
    height: 50px;
    display: flex;
}
.CMS > .inner .left .profile img {
    height: 50px;
}
.CMS > .inner .left .profile .details-wrapper {
    margin: auto 0;
    overflow: hidden;
    text-align: left;
}
.CMS > .inner .left .profile .details-wrapper .displayName {
    font-size: 16px;
    margin-left: 4px;
}
.CMS > .inner .left .profile .details-wrapper .email {
    opacity: 0.65;
    font-size: 10px;
    margin-left: 4px;
}
.CMS > .inner .left .profile svg {
    margin: auto;
    cursor: pointer;
}
.CMS > .inner .left .profile svg:hover {
    color: #1a73e8;
}
.CMS > .inner .left .attribution {
    border-top: 1px solid rgba(0, 0, 0, .15);
    padding: 0.1rem;
    padding-left: 0.25rem;
}
.CMS > .inner .left .attribution span {
    color: #5f6368;
    opacity: 0.85;
    font-size: 10px;
}
.CMS > .inner .right {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.CMS > .inner .right .top {
    height: 64px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding: 0 1rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 2px 10px -1px rgba(0, 0, 0, .12);
}
.CMS > .inner .right .top .header {
    margin: auto 0;
    color: #5f6368;
}
.CMS > .inner .right .top .header h1 {
    margin: auto;
    color: black;
}
.CMS > .inner .right .top .wrapper {
    cursor: pointer;
    margin: auto 0.5rem;
    border-radius: 4px;
    height: 48px;
    background-color: #1a73e8;
    transition: all 125ms linear;
}
.CMS > .inner .right .top .wrapper:hover {
    opacity: 0.85;
}
.CMS > .inner .right .top .wrapper svg {
    color: white;
    stroke-width: 2;
    height: 48px;
    transition: all 125ms linear;
}
.CMS > .inner .right .inner {
    height: calc(100vh - 64px);
    transition: all 62.5ms linear;
    background-color: #f1f3f4;
    overflow-y: scroll;
    max-height: calc(100vh - 64px);
}
.CMS > .inner .right .inner > div {
    padding: 1rem;
}
.CMS > .inner .right .inner h1 {
    font-size: 42px;
    text-align: center;
    width: 100%;
    font-weight: 400;
}
.CMS > .inner .overlay {
    position: fixed;
    opacity: 0;
    background-color: rgba(0, 0, 0, .75);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    transition: all 125ms linear;
}
.CMS > .inner .overlay.showing {
    opacity: 1;
    pointer-events: all;
}
.CMS > .inner .modal {
    position: fixed;
    margin: auto;
    background-color: #f1f3f4;
    width: 75%;
    height: 100vh;
    right: 0;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, .2), 0 0 24px 2px rgba(0, 0, 0, .14), 0 0 30px 5px rgba(0, 0, 0, .12);
    transform: translateX(100%);
    transition: all 125ms linear;
}
.CMS > .inner .modal.showing {
    transform: translateX(0%);
    z-index: 999;
}
.CMS > .inner .modal .title {
    background-color: white;
    height: 64px;
    border-bottom: 1px solid #dadce0;
    display: flex;
    justify-content: space-between;
}
.CMS > .inner .modal .title div {
    display: inline-flex;
}
.CMS > .inner .modal .title div svg {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    cursor: pointer;
    color: black;
    opacity: 0.54;
    transition: opacity 125ms linear;
}
.CMS > .inner .modal .title div svg:hover {
    opacity: 1;
}
.CMS > .inner .modal .title div h1 {
    margin: auto 0;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    opacity: 0.87;
    width: fit-content;
    white-space: nowrap;
}
.CMS > .inner .modal .title div .save {
    background-color: rgba(0, 0, 0, .03);
    outline: none;
    transition: all 125ms linear;
    border-radius: 4px;
    color: rgba(0, 0, 0, .38);
    padding: 1px 24px 2px;
    min-height: 24px;
    height: 36px;
    min-width: 72px;
    vertical-align: middle;
    font-size: 14px;
    margin: auto 22px;
    text-align: center;
    cursor: pointer;
}
.CMS > .inner .modal .title div .save.ok {
    background-color: #1a73e8;
    color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}
.CMS > .inner .modal .title div .save.ok:hover {
    background-color: #3684eb;
}
.CMS > .inner .modal .title div .save span {
    margin: auto;
}
.CMS > .inner .modal .content {
    padding: 24px 24px;
    max-height: calc(100vh - 64px - 24px - 24px);
    overflow-y: scroll;
}
.CMS > .inner .modal .content h4 {
    font-weight: 400;
    margin: 0;
    margin-bottom: 12px;
}
.CMS > .inner .modal .content img {
    width: 32px;
}
.CMS > .inner .modal .content .media-upload-wrapper {
    display: flex;
    width: calc(90% + 2rem);
    justify-content: flex-start;
    margin: auto;
}
.CMS > .inner .modal .content .media-upload-wrapper > label {
    margin-bottom: 12px;
    margin-right: 12px;
    background-color: white;
    color: black;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 0 0 1px #dadce0;
    cursor: pointer;
    transition: all 62.5ms linear;
}
.CMS > .inner .modal .content .media-upload-wrapper > label:hover {
    background-color: #3684eb;
    color: white;
    border-color: #1a73e8;
}
.CMS > .inner .modal .content .media-upload-wrapper > label svg {
    cursor: pointer;
}
.CMS > .inner .modal .content .box {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 0 0 0 1px #dadce0;
    color: rgba(0, 0, 0, .87);
    line-height: 24px;
    width: 90%;
    margin: 12px auto;
}
.CMS > .inner .modal .content .box textarea {
    resize: vertical;
    width: 95%;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    min-height: 200px;
    outline: none;
    padding: 0.5rem 1rem;
    margin: auto;
    font-weight: 200;
}
.CMS > .inner .modal .content .date-wrapper {
    display: flex;
    justify-content: space-between;
}
.CMS > .inner .modal .content .date-wrapper .svg-wrapper {
    display: flex;
}
.CMS > .inner .modal .content .date-wrapper .svg-wrapper label {
    margin-right: 6px;
    opacity: 0.87;
    line-height: 26px;
    font-size: 14px;
}
.CMS > .inner .modal .content .date-wrapper .svg-wrapper .svg-wrapper-inner {
    color: white;
    height: 24px;
    width: 24px;
    border: 2px solid #1a73e8;
    cursor: pointer;
    border-radius: 4px;
}
.CMS > .inner .modal .content .date-wrapper .svg-wrapper .svg-wrapper-inner.showing {
    background-color: #1a73e8 !important;
}
.CMS > .inner .modal .content #additional-datepicker {
    margin-left: 12px;
    display: inline-block;
}
.CMS > .inner .modal .content #additional-datepicker:before {
    content: 'to';
    margin-right: 12px;
}
.CMS > .inner .modal .content .uploaded-previews {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    padding-top: 12px;
}
.CMS > .inner .modal .content .uploaded-previews .uploaded-img-wrapper, .CMS > .inner .modal .content .uploaded-previews .uploaded-audio-wrapper {
    position: relative;
    width: fit-content;
}
.CMS > .inner .modal .content .uploaded-previews .uploaded-img-wrapper div, .CMS > .inner .modal .content .uploaded-previews .uploaded-audio-wrapper div {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    transition: all 62.5ms linear;
}
.CMS > .inner .modal .content .uploaded-previews .uploaded-img-wrapper div:hover, .CMS > .inner .modal .content .uploaded-previews .uploaded-audio-wrapper div:hover {
    transform: scale(1.1);
}
.CMS > .inner .modal .content .uploaded-previews .uploaded-img-wrapper div svg, .CMS > .inner .modal .content .uploaded-previews .uploaded-audio-wrapper div svg {
    margin-left: 1px;
    margin-top: 1px;
    color: white;
}
.CMS > .inner .modal .content .uploaded-previews .uploaded-img-wrapper img, .CMS > .inner .modal .content .uploaded-previews .uploaded-audio-wrapper img {
    width: 300px;
    max-height: 500px;
    object-fit: contain;
    margin-left: -1rem;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #dadce0;
    margin-bottom: 12px;
}
.CMS > .inner .modal .content .uploaded-previews .uploaded-miscellaneous-wrapper {
    position: relative;
    width: fit-content;
    margin: auto;
    margin-left: -1rem;
    margin-bottom: 16px;
}
.CMS > .inner .modal .content .uploaded-previews .uploaded-miscellaneous-wrapper div {
    cursor: pointer;
}
.CMS > .inner .modal .content .uploaded-previews .uploaded-miscellaneous-wrapper div svg {
    color: black;
    position: absolute;
    right: -32px;
    top: 1px;
    width: 18px !important;
    transition: all 62.5ms linear;
}
.CMS > .inner .modal .content .uploaded-previews .uploaded-miscellaneous-wrapper div svg:hover {
    width: 20px !important;
}
.CMS > .inner .modal .content .uploaded-previews audio {
    margin-left: -1rem;
    margin-bottom: 12px;
}
.CMS > .inner .deleteDialog {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    background-color: white;
    border-radius: 8px;
    padding: 0.5rem 2rem 1.5rem;
    top: -25%;
    transform: scale(0);
    box-shadow: 0 0 0 1px #dadce0;
    transition: all 62.5ms linear;
}
.CMS > .inner .deleteDialog.showing {
    top: 33%;
    transform: scale(1);
    z-index: 999;
}
.CMS > .inner .deleteDialog .options-wrapper {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.CMS > .inner .deleteDialog .options-wrapper .cancel {
    background-color: rgba(0, 0, 0, .03);
    color: rgba(0, 0, 0, .37);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
}
.CMS > .inner .deleteDialog .options-wrapper .ok {
    background-color: #1a73e8;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
}
.CMS > .inner .deleteDialog .options-wrapper .ok:hover {
    background-color: #3684eb;
}
.CMS > .inner .overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 125ms linear;
    pointer-events: none;
}
.CMS > .inner .overlay.showing {
    opacity: 1;
    pointer-events: all;
}
.SectionContent {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    height: fit-content;
    width: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
}
.SectionContent .content {
    display: flex;
    max-height: 206px;
    overflow: hidden;
    padding-top: 12px;
}
.SectionContent .content h1 {
    text-align: left !important;
    margin-top: 0;
    margin-bottom: 12px;
}
.SectionContent .content h1, .SectionContent .content h2, .SectionContent .content h3 {
    margin-top: 0px;
}
.SectionContent .content h2 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.SectionContent .content p {
    margin-top: 0px;
    font-weight: 200;
}
.SectionContent .content .date-display-container {
    display: flex;
    justify-content: flex-start;
}
.SectionContent .content .date-display-container p {
    margin-right: 4px;
}
.SectionContent .content .date, .SectionContent .content .additionalDate {
    opacity: 0.55;
    font-weight: 800;
}
.SectionContent .content .additionalDate:before {
    content: " to ";
}
.SectionContent .content img {
    height: 132px;
    width: 200px;
    object-fit: cover;
}
.SectionContent .content img {
    margin-right: 12px;
}
.SectionContent .content audio {
    margin-left: -1rem;
    max-width: 275px;
}
.SectionContent .content .cms-media-wrapper {
    max-width: 300px;
}
.SectionContent .content .cms-media-wrapper .file {
    margin-right: 24px;
    margin-top: -12px;
    width: 150px;
}
.SectionContent .content .cms-media-wrapper .file svg {
    width: 16px !important;
    display: inline;
    margin-bottom: -6px;
    margin-right: 4px !important;
}
.SectionContent .content .cms-media-wrapper .file p {
    opacity: 0.87;
    font-size: 16px;
    display: inline;
}
.SectionContent .content .right-content {
    margin-left: 12px;
}
.SectionContent svg {
    height: 24px;
    cursor: pointer;
    opacity: 0.45;
    margin-right: 12px;
    transition: opacity 125ms linear;
}
.SectionContent svg:hover {
    opacity: 1;
}
.SectionContent .delete {
    margin-top: 12px;
}
.SectionContent .delete svg {
    transition: all 125ms linear;
}
.SectionContent .delete svg:hover {
    color: #fa7979;
}
.link-file {
    border-radius: 2px;
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 3px 8px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #999;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}
.link-file .link-file-dropdown {
    position: absolute;
    background: linear-gradient(180deg, #fdfdfd 0, #f6f7f8);
    top: calc(100% + 5px);
    right: 0;
    border: 1px solid #999;
    border-radius: 2px;
    z-index: 999;
    display: none;
}
.link-file .link-file-dropdown.showing {
    display: block;
}
.link-file .link-file-dropdown div {
    padding: 4px;
}
.link-file .link-file-dropdown div:hover {
    background-color: #1a73e8;
    color: white;
}
.react-datepicker-popper {
    z-index: 99 !important;
}
